/*
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$special-pink: #e09c9c;

.navbar-custom {
  background: pink;

  li a:hover {
    background: $special-pink;
  }

  a:hover {
    color: red;
  }
}

.follow {
  float: right;
}
